@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

/* just to be sure these are full screen*/
canvas {
  display: block;
}

/* To remove the scrollbars */
.welcome {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px 40px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 6px;
}

.title {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 10px;
}

.options {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
