.title{
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 10px;
}

.options{
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}