.title {
    position: absolute;
    width: 100%;
    top: 5%;
    
    display: flex;

    @include tablet {
        top: 0;
    }
}

.options {
    position: absolute;
    width: 100%;
    bottom: 5%;

    display: flex;
    gap: 10px;
    
    @include tablet {
        flex-direction: column;
        gap: 0px;
        bottom: 0;
    }
}

.option {
    width: fit-content;
    @include tablet { width: 100%; }
    margin: 0 auto;
    
    @include button;
    padding: 10px;
    @include tablet { padding: 15px 10px; }
    border: 2px solid black;
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.6s linear, background-color 0.5s linear;
}

.active {
    visibility: visible;
    opacity: 1;
}

.disabled {
    @include buttonDisabled;
}
