@mixin button {
    transition: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    
    font-family: $font-content;
    background-color: $buttonBG;
    color: $buttonFG;

    @media (hover: hover) {
        &:hover {
            background: $buttonBG-hover;
            color: $buttonFG-hover;
        }
    }
}

@mixin buttonDisabled {
    cursor: default;

    background-color: $buttonBG;
    color: $buttonFG;

    &:hover {
        background: $buttonBG;
        color: $buttonFG;
    }
}

.continueButton{
    font-size: $large-font;
    width: 100%;
    padding: 8px 0px;
    letter-spacing: 0.4px;

    @include shadow;
    @include button;
}

.selected {
    background: $buttonBG-hover !important;
    color: $buttonFG-hover !important;
}
