@mixin button {
    transition: 0.4s;
    cursor: pointer;
    border-radius: 5px;

    background-color: $buttonBG;
    color: $buttonFG;

    @media (hover: hover) {
        &:hover {
            background: $buttonBG-hover;
            color: $buttonFG-hover;
        }
    }
}

@mixin buttonDisabled {
    cursor: default;

    background-color: $buttonBG;
    color: $buttonFG;

    &:hover {
        background: $buttonBG;
        color: $buttonFG;
    }
}

.card-action button {
    font-size: $large-font;
    height: 35px;
    width: 100%;

    @include shadow;
    justify-content: center;
    letter-spacing: 0.35px;

    @include button;
}

.selected {
    background: $buttonBG-hover !important;
    color: $buttonFG-hover !important;
}
