.card button {
    background-color: $buttonBG;
    color: $buttonFG;

    border-radius: 24px;
    font-size: $large-font;
    height: 35px;
    width: 100%;

    @include shadow;
    justify-content: center;
    letter-spacing: 0.35px;
    transition: 0.6s;

    &:hover {
        background: $buttonBG-hover;
        color: $buttonFG-hover;
    }
}
