.card-container {
    @include center;
    @include blur;
    
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;

    max-width: 600px;
    width: 90%;
    @include phone{
        width: 99%;
    }

    font-family: $font-content;
    color: white;
}

.card-container-big{
    @extend .card-container;
    @include no-blur;
    z-index: 4;
    height: 90%;
    
}

.card-body{
    > * {
        margin-bottom: 8px;
    }
}

.card-body-big{
    height: 100%;
    > * {
        margin-bottom: 12px;
    }
}

.card-title{
    font-family: $font-header;
}

.info-option-box{
    background-color: gray;
    padding: 2px 4px;
    border-radius: 4px;
}

.info-screen{
    width: 70%;
    margin: 0 auto;
    @extend .info;
    &-title{
        @extend .info-option-box;
        margin-bottom: 50px;
    }

    &-options{
        display: flex;
        justify-content: space-around;
    }

    &-option{
        @extend .info-option-box;
    }
}