.card-container {
    @include center;
    @include blur;
    
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.card-container {
    max-width: 600px;
    width: 90%;
}

#flag-space{
    canvas{
        width: 80%;
        @include phone{
            width: 100%;
        }
        margin: 0 auto;
        border-radius: 5px;
    }
}