.disclaimer{
    @include shadow;

    margin: 3px 0;
    padding: 2px;
    border-radius: 5px;

    color: #595959;
    background-color: #FFFFAA;

    display: flex;
    align-items: center;

    text-align: center;
    font-size: 14px;
    @include phone {
        font-size: 13px;
    }
}

.disclaimer-content{
    width: 100%;
}

.disclaimer-icon{
    padding: 5px;
    color: orange;
    & span { 
        margin: auto;
    }
}