.form-element{
    margin-bottom: 10px;
}

.form-element-title{
    margin-bottom: 10px;
}

.form-element-options{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.form-element-option{
    @include button;
    padding: 5px 10px;
    border-radius: 5px;
}
