$divHeight: -90px;

.popup {
    position: absolute;
    top: $divHeight;
    width: 100%;
    z-index: 1;
    
    @include easyInOut(0.4s);
    
    padding: 20px;
    text-align: center;
    font-size: $large-font;
}

.popupActive {
    animation-name: fade-in;
}
.popupInactive {
    animation-name: fade-out;
}

@keyframes fade-in {
    from { top: $divHeight; }
    to   { top: 0px; }
}

@keyframes fade-out {
    from { top: 0px; }
    to   { top: $divHeight; }
}
