@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Source+Serif+4:wght@800&display=swap");
.error {
  background-color: #cc3300 !important;
}

.warning {
  background-color: #ffcc00 !important;
}

.ok {
  background-color: #339900 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* just to be sure these are full screen*/
canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* To remove the scrollbars */
button {
  cursor: pointer;
  border-style: none;
}

#app {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.continueButton {
  font-size: 18px;
  width: 100%;
  padding: 8px 0px;
  letter-spacing: 0.4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Fira Code", sans-serif;
  background-color: #fffcf2;
  color: #252422;
}

@media (hover: hover) {
  .continueButton:hover {
    background: #252422;
    color: #fffcf2;
  }
}

.selected {
  background: #252422 !important;
  color: #fffcf2 !important;
}

.card-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 15px;
  max-width: 600px;
  width: 90%;
  font-family: "Fira Code", sans-serif;
  color: white;
}

@media screen and (max-width: 480px) {
  .card-container {
    width: 99%;
  }
}

.card-title {
  font-family: "Source Serif 4", sans-serif;
}

.form-element:not(:last-child) {
  margin-bottom: 14px;
}

.form-element-title {
  margin-bottom: 5px;
}

.form-element-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.form-element-option {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Fira Code", sans-serif;
  background-color: #fffcf2;
  color: #252422;
  padding: 5px 10px;
}

@media (hover: hover) {
  .form-element-option:hover {
    background: #252422;
    color: #fffcf2;
  }
}

.popup {
  position: absolute;
  top: -90px;
  width: 100%;
  z-index: 1;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding: 20px;
  text-align: center;
  font-family: "Fira Code", sans-serif;
  font-size: 18px;
}

.popupActive {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

.popupInactive {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}

@-webkit-keyframes fade-in {
  from {
    top: -90px;
  }
  to {
    top: 0px;
  }
}

@keyframes fade-in {
  from {
    top: -90px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes fade-out {
  from {
    top: 0px;
  }
  to {
    top: -90px;
  }
}

@keyframes fade-out {
  from {
    top: 0px;
  }
  to {
    top: -90px;
  }
}

.languages > img {
  cursor: pointer;
  margin: 5px 10px;
  width: 25%;
  aspect-ratio: 16 / 9;
}

.activeLang {
  width: 30% !important;
}

.disclaimer {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0;
  border-radius: 5px;
  padding: 6px 0;
  color: black;
  background-color: #FFFFAA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .disclaimer {
    font-size: 14px;
  }
}

.disclaimer-icon {
  padding-left: 15px;
  color: orange;
}

.disclaimer-icon span {
  margin: auto;
}

.scene-ui {
  font-family: "Fira Code", sans-serif;
}

.description {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Source Serif 4", sans-serif;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: azure;
}

.title {
  position: absolute;
  width: 100%;
  top: 5%;
}

@media screen and (max-width: 800px) {
  .title {
    top: 0;
  }
}

.title button {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.icons > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0px;
          flex: 0 1 0px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.icon {
  background-color: aliceblue !important;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.info {
  color: black;
  background-color: azure;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 8px;
  border-radius: 3px;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.options {
  display: none;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    bottom: 0;
  }
}

.expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.option {
  margin: 0 auto;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Fira Code", sans-serif;
  background-color: #fffcf2;
  color: #252422;
  font-family: "Fira Code", sans-serif;
  padding: 10px;
}

@media (hover: hover) {
  .option:hover {
    background: #252422;
    color: #fffcf2;
  }
}

@media screen and (max-width: 480px) {
  .option {
    padding: 15px 10px;
  }
}

.hided {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.6s linear, background-color 0.5s linear;
  transition: visibility 0s, opacity 0.6s linear, background-color 0.5s linear;
}

.active,
.active > * {
  visibility: visible;
  opacity: 1;
}

.disabled {
  cursor: default;
  background-color: #fffcf2;
  color: #252422;
}

.disabled:hover {
  background: #fffcf2;
  color: #252422;
}

.reportMood {
  margin: 0 auto;
  min-width: 100px;
  min-height: 10px;
  display: inline-block;
}

#mood {
  position: relative;
}

#emotion {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 26px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
