*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { width:100%; height:100%; overflow: hidden;} /* just to be sure these are full screen*/

canvas { display:block; width: 100%; height: 100%;} /* To remove the scrollbars */

button{
    cursor: pointer;
    border-style: none;
}

.center{
    @include center;
}

#app {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#app > div {
    width: 100%;
    height: 100%;
}